:root {
   /*
   --darkBlue: #152232;
   --gray: #a0b1c5;
   --grayishBlue: #9fadbd;
   --grayish: #c9d7e3;
   --darkGray: #151f2e;
   --bgDark: rgb(11, 22, 34);
   */

   --darkGray: #151f2e;
   --darkBlue: #152232;
   --white: #f5f5f5;
   --red: #f05454;
   --navy: #30475e;
}
